## comparison operator

In [1]:
name="welcome to jupyter notebook"
num1=50
num2=1.5
num3=True
print(name)
print(num1)
print(num2)
print(num3)

welcome to jupyter notebook
50
1.5
True

## equal to ==
## greater than >
## less than <
## greaterequal to >=
## lessthan equal to <=

In [2]:
20==20
20>30
20<45
40>=50
100<=98

False

In [3]:
20>30

False

In [4]:
num1=input("what is the number:")
num2=input("what is the second number:")
print(f'{num1} > {num2} = {num1 > num2}')
print(f'{num1} == {num2} = {num1 == num2}')
print(f'{num1} < {num2} = {num1 < num2}')
print(f'{num1} >== {num2} = {num1 > num2}')
print(f'{num1} <= {num2} = {num1 <= num2}')

what is the number:50
what is the second number:45
50 > 45 = True
50 == 45 = False
50 < 45 = False
50 >== 45 = True
50 <= 45 = False

In [ ]:
## logical operator
## and 
## or
## not

In [11]:
a=True
b=False
c=True
d=False
## and
a and c

True

In [6]:
a and b

False

In [7]:
## or
a or b

True

In [8]:
b or c

True

In [12]:
b or d

False

In [13]:
## not
not d

True

In [14]:
not c

False

In [18]:
## mr p bought a good for 500,000 and sold each for 20,000. what is mr p profit?
buyingprice= 500000
sellingprice= 20000
number_goods= buyingprice/sellingprice
profit=(sellingprice*number_goods)-buyingprice
print(f"The profit mr p made is:{profit}")

The profit mr p made is:0.0